@charset "utf-8";
/* CSS Document */

/*------- General Rules -------*/
 * {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
::selection {background: #FC0;color: #FFF;text-shadow: none;}
*,html,body {margin:0px; padding:0px;}
#wrapper, .wrapper { max-width:960px; margin:auto; background:#fff;} /* disable this to make the full width section more than 960px */
.wrap-container{padding:20px 0px;}
.grid-container {max-width: 860px;}
.pop-up{ max-width:400px;}
.grid-container, .clearfix {clear: both;}
.S_italic{ font-style:italic;}
body {background:#fff; font-family: 'robotolight'; color:#000; font-size:14px;}
body { min-width:240px;}
h1, h2, h3, h4, h5, h6 {font-family: 'robotobold';}
h1 {}
h2, h2 small {font-size:28px; line-height:32px;}
h2 small {font-weight:normal; font-family: 'robotolight';}
h3 {font-size:24px; line-height:24px;}
h4 {}
h5, h5 small {font-size:18px; line-height:24px; margin-bottom: 5px;}
h5 small {font-weight:normal; font-family: 'robotolight';}
h6 {font-size:14px; line-height:24px;}
ul, ol {}
ul li {}
ol li {}
hr {}
p {font-size:14px; margin-bottom:10px;}
a:link, a:focus, a:visited {color:#000;}
a.Lstyle {text-decoration:none;}
a.Lstyle span {text-decoration:underline;}
a.Lstyle span:hover {text-decoration:none;}
a:hover {color:#fc5aad;}
a.top {color:#ecb51d}
a.top:hover {color:#000;}
a img {}
a img:hover {}
p img {max-width: 100%;}
blockquote {}
a:hover img { opacity:0.8;}
ul{list-style-image:url(../images/plus.png); list-style-position: inside;}
ul li a{ font-size:18px;}
.Robotobold{font-family: 'robotobold';}
.Robotolight{font-family: 'robotolight';}
.margin-zero{ margin:0px;}
.padding-Top{padding-top: 30px;}
.margin-Top{margin-top: 30px;}
.margin-bottom{ margin-bottom:10px;}
/*.Lstyle{background: url('../images/plus.png');background-position: left 50%;background-repeat: no-repeat;padding-left: 15px;}*/
a{font-size:14px;}
.register-button { text-decoration:none; }
.register-button button { -webkit-border-radius:5px; moz-border-radius:5px; border-radius:5px; background-color:#fc5aad; color:#FFFFFF !important; border-color:transparent; text-decoration:none; text-shadow:none; margin:0 auto; }


/*************section1**********************/
#section1 .grid-35 a img{border-radius: 9px;}
#section1 .grid-65 p{ padding:8px 0px; font-family: 'robotobold'; text-align: right;}
p.ticket {float:left; background-image:url(http://www.twinklestardance.com/userconference/images/tickets-selling.png); height:163px; width:163px; text-align:center; padding-top:100px;}
a.ticket {text-decoration:none; color:#fff; font-size:18px; font-weight:bold;}

/*************section2**********************/
#section2 {padding-top:0px;}
#section2 > div {background-color:#000;}
#section2 img {max-width: 100%;}
#section2 .logo-container {height:320px; padding:50px 0; text-align:center;}
#section2 .logo-container img {vertical-align:bottom; height:100%;}

/*************section3**********************/

#section3{ padding-top:0px;}
.box-blue{background-color:#fc5aad; padding:15px 35px; color:#fff;}
.box-blue p{ margin-bottom:5px; line-height: 14px;}
.box-blue a{ color:#fff;}
.box-red{background-color:#66a749; padding:15px 35px; color:#fff;}
#register-now p{ float:left;}
#register-now p:last-child{padding: 3px 10px;}
#join-now p{float:left;}
#join-now p:last-child{padding: 0px 10px;line-height: 17px;}
#section3_right ul {margin-left: 0;}
#section3_right a {white-space: nowrap;}


/**********************section4**********************************/
#section4 { background-color:#fcfcfc; border-left: 55px solid #299fcf;}
#section4 .left {border-right:2px solid #299fcf;}
#section4 .left * {color:#fc5aad;}
/*#section4 .right h2,#section4 .right h5{ font-family: 'robotolight';}*/


/***************************section5*********************************/
#section5 { background-color:#fcfcfc; border-left: 55px solid #66a749;}
#section5 .left {border-right:2px solid #66a749;}
#section5 .left * {color:#fc5aad;}
/***************************section6*********************************/
#section6 { background-color:#fcfcfc; border-left: 55px solid #ecb51d;}
#section6 .left {border-right:2px solid #ecb51d;}
#section6 .left * {color:#fc5aad;}
/***************************section7*********************************/
#section7 { background-color:#fcfcfc; border-left: 55px solid #299fcf; }
#section7 * {font-family:helvetica; word-wrap: break-word;}
/***************************footer*********************************/
#footer *{font-family:helvetica;}
#footer p, #footer h5{ text-align:center;}

/*************************************Fridy pop-up******************************************************/
#friday_section1 p{ text-align:right; color:#333333; }
#friday-schedule p{ font-size:12px; color:#333333;}

.grid-parent .grid-70 p{ margin:0px; color:#333333;}
#friday-schedule span{ font-size:12px; color:#333333;}
#friday-schedule h5{ color:#333333;}

/*************************************Saturday pop-up******************************************************/
#saturday_section1 p{ text-align:right; color:#333333; }
#saturday-schedule p{ font-size:12px; color:#333333;}

.grid-parent .grid-70 p{ margin:0px; color:#333333;}
#saturday-schedule span{ font-size:12px; color:#333333;}
#saturday-schedule h5{ color:#333333;}

/*************************************sunday pop-up******************************************************/
#sunday_section1 p{ text-align:right; color:#333333; }
#sunday-schedule p{ font-size:12px; color:#333333;}

.grid-parent .grid-70 p{ margin:0px; color:#333333;}
#sunday-schedule span{ font-size:12px; color:#333333;}
#sunday-schedule h5{ color:#333333;}

/*************************************business workshop pop-up******************************************************/
#business_workshop_section1 p{ text-align:right;}
#business_workshop p{ font-size:12px; color:#333333;}
#business_workshop h5{ color:#333333;}


/***************************************about_tiffany_henderson pop-up*****************************************************************/
#about_tiffany_henderson_section1 p{text-align:right;}
#about_tiffany_henderson p{ font-size:12px; color:#333333;}
#about_tiffany_henderson h5{ color:#333333;}

/*******************************************about_paul_henderson**********************************************************/
#about_paul_henderson_section1 p{text-align:right;}
#about_paul_henderson p{ font-size:12px; color:#333333;}
#about_paul_henderson h5{ color:#333333;}

/*****************************************about_name********************************************************/
#about_name_section1 p{text-align:right;}
#about_name p{ font-size:12px; color:#333333;}
#about_name h5{ color:#333333;}


/********************************************************************************************/

/*********Light Box**************/
#popup .wrap-container {padding-top:0;}
.close {margin-top:10px; display:block;}
#popup {
	position:fixed; 
	top:5%; 
	left:50%; 
	margin-left:-200px; 
	display:none; 
	z-index:1000; 
	height:600px; 
	overflow:auto;
	box-shadow:0 0 20px #ccc;
	border:1px solid #ccc;
}
#overlay {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.8); z-index:999; display:none;}

@media screen and (max-width:767px){
div.ticket {float:none!important; text-align:center}
p img {margin:10px auto;}
#section3_right {margin-top: 10px;}
#footer img {display:block; margin:10px auto; float:none;}
}





